@page
@model BW_WEB.Pages.GTFS.Agencies.AgencyCRUDModel
@{
    ViewData["Title"] = "Agencies";
    var token = Model.HttpContext.Session.GetString("JWToken");
}

<h2 class="mb-4">Agencies</h2>

<!-- Sección para importar los estilos CSS necesarios -->
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

<!-- Sección de scripts JS -->
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@* Script específico de la página *@
@section PageScripts {
    <script src="~/js/GTFS-agency.js"></script>
}

<div class="col-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Seleccionar Versión:</h5>
        </div>
        <div class="col d-flex justify-content-center mt-2 mb-2">
            <form method="post">
                <select id="versionSelect" class="select2 form-select" style="width:85%" asp-for="SelectedVersionID" asp-items="Model.Versions" onchange="this.form.submit()">
                    <option value="">Seleccione una versión</option>
                </select>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.AgenciesByVersion != null && Model.AgenciesByVersion.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5> <!-- Título del filtro de búsqueda -->
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="agencyTable" class="table">
                <!-- Tabla de Agencies con ID específico para aplicar DataTables -->
                <thead class="border-top">
                    <tr>
                        <td></td>
                        <th>Código Agencia</th>
                        <th>Nombre Agencia</th>
                        <th>Agencia Url</th>
                        <th>Zona Horaria</th>
                        <th>Idioma</th>
                        <th>Tlf</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var agency in Model.AgenciesByVersion)
                    {
                        <tr>
                            <td></td> <!-- Columna vacía por cuestiones de diseño -->
                            <td>@agency.AgencyID</td>
                            <td>@agency.AgencyName</td>
                            <td>
                                <a href="@agency.AgencyURL" target="_blank">@agency.AgencyURL</a>
                            </td>
                            <td>@agency.AgencyTimezone</td>
                            <td>@agency.AgencyLang</td>
                            <td>@agency.AgencyPhone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5> <!-- Título que se muestra aunque no haya agencias -->
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="agencyTable" class="table">
                <!-- Tabla vacía que aún muestra las cabeceras de las columnas -->
                <thead class="border-top">
                    <tr>
                        <td></td>
                        <th>Código Agencia</th>
                        <th>Nombre Agencia</th>
                        <th>Agencia Url</th>
                        <th>Zona Horaria</th>
                        <th>Idioma</th>
                        <th>Tlf</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}
