@page
@model BW_WEB.Pages.GTFS.Calendars.CalendarCRUDModel
@{
    ViewData["Title"] = "Calendars";
    var token = Model.HttpContext.Session.GetString("JWToken");
}

<h2 class="mb-4">Calendarios de Servicio</h2>

<!-- Sección para importar los estilos CSS necesarios -->
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

<!-- Sección de scripts JS -->
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@* // Script específico de la página, que maneja las operaciones de CRUD de Calendarios *@
@section PageScripts {
    <script src="~/js/GTFS-calendar.js"></script>
}

<div class="col-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Seleccionar Versión:</h5>
        </div>
        <div class="col d-flex justify-content-center mt-2 mb-2">
            <form method="post">
                <select id="versionSelect" class="select2 form-select" style="width:85%" asp-for="SelectedVersionID" asp-items="Model.Versions" onchange="this.form.submit()">
                    <option value="">Seleccione una versión</option>
                </select>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.CalendarsByVersion != null && Model.CalendarsByVersion.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Calendarios de Servicio</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="calendarTable" class="table">
                <!-- Tabla de Calendarios con ID específico para aplicar DataTables -->
                <thead class="border-top">
                    <tr>
                        <th>Código Servicio</th>
                        <th>Configuración Semanal</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var calendar in Model.CalendarsByVersion)
                    {
                        <tr>
                            <td>@calendar.ServiceID</td>
                            <td>
                                L <input type="checkbox" disabled @(calendar.Monday ? "checked" : "") />
                                M <input type="checkbox" disabled @(calendar.Tuesday ? "checked" : "") />
                                X <input type="checkbox" disabled @(calendar.Wednesday ? "checked" : "") />
                                J <input type="checkbox" disabled @(calendar.Thursday ? "checked" : "") />
                                V <input type="checkbox" disabled @(calendar.Friday ? "checked" : "") />
                                S <input type="checkbox" disabled @(calendar.Saturday ? "checked" : "") />
                                D <input type="checkbox" disabled @(calendar.Sunday ? "checked" : "") />
                            </td>
                            <td>@calendar.StartDate.ToString("dd MMMM yyyy")</td>
                            <td>@calendar.EndDate.ToString("dd MMMM yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Calendarios de Servicio</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="calendarTable" class="table">
                <!-- Tabla vacía que aún muestra las cabeceras de las columnas -->
                <thead class="border-top">
                    <tr>
                        <th>Código Servicio</th>
                        <th>Configuración Semanal</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}
