@page
@model BW_WEB.Pages.GTFS.Versions.VersionCRUDModel
@{
}

@{
    ViewData["Title"] = "Versiones GTFS";
}

@* // Sección de estilos que importa las bibliotecas CSS necesarias para los DataTables y otros componentes de la interfaz *@
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@* // Sección de scripts que incluye las bibliotecas JS necesarias para los DataTables, validaciones y otros componentes de la UI *@
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@* // Script específico de la página, que maneja las operaciones de CRUD de usuarios *@
@section PageScripts {
    <script src="~/js/versionesGTFS-crud-operations.dist.js"></script>
}

@* Encabezado para el título de la página *@
<h2 class="mb-4">Versiones GTFS</h2> <!-- Título claro para indicar el propósito de la página -->
@* Versions DataTable *@
@if (Model.Versions != null && Model.Versions.Count > 0) // Verifica si hay versiones en el modelo
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5> <!-- Título del filtro de búsqueda -->
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="versionTable" class="table">
                <!-- Tabla de versiones con ID específico para aplicar DataTables -->
                <thead class="border-top">
                    <tr>
                        <th></th> <!-- Columna vacía para el manejo de control de fila -->
                        <th>Versión ID</th> <!-- Columna para mostrar el ID de la versión -->
                        <th>Descripción</th> <!-- Columna para mostrar la descripción de la versión -->
                        <th>Fecha de Inicio</th> <!-- Columna para mostrar la fecha de inicio de la versión -->
                        <th>Estado</th> <!-- Columna para mostrar el estado de la versión -->
                        <th>Acciones</th> <!-- Columna que contiene botones para acciones (editar y eliminar) -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var version in Model.Versions) // Itera sobre cada versión en la lista
                    {
                        <tr>
                            <td></td> <!-- Columna vacía por cuestiones de diseño (o control de filas en dispositivos móviles) -->
                            <td class="text-capitalize text-heading">@version.VersionID</td> <!-- Muestra el ID de la versión -->
                            <td class="text-capitalize text-heading">@version.DescripcionVersion</td> <!-- Muestra la descripción de la versión -->
                            <td class="text-capitalize text-heading">@version.FechaInicioVersion?.ToString("dd/MM/yyyy")</td> <!-- Muestra la fecha de inicio de la versión -->
                            <td>
                                <label class="badge bg-info text-wrap fs-8" id="lblEstado">@version.Estado</label> <!-- Muestra el estado de la versión -->
                            </td>
                            <td class="text-nowrap">
                                <!-- Botones de acción (editar y eliminar) -->
                                @* Botón de editar *@
                                <button class="btn btn-sm btn-icon btn-node-x edit-version-button shadow-none" data-bs-toggle="offcanvas"
                                        data-bs-target="#editVersionOffcanvas" id="@version.VersionID-editVersion">
                                    <i class="ti ti-edit"></i> <!-- Icono de edición -->
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else // En caso de que no haya versiones
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5> <!-- Título que se muestra aunque no haya versiones -->
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="versionTable" class="table">
                <!-- Tabla vacía que aún muestra las cabeceras de las columnas -->
                <thead class="border-top">
                    <tr>
                        <th></th> <!-- Columna vacía -->
                        <th>Versión ID</th> <!-- Cabecera de Versión ID -->
                        <th>Descripción</th> <!-- Cabecera de descripción -->
                        <th>Fecha de Inicio</th> <!-- Cabecera de fecha de inicio -->
                        <th>Estado</th> <!-- Cabecera de estado -->
                        <th>Acciones</th> <!-- Cabecera de acciones -->
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}

@* Partial para el formulario de editar versión en un offcanvas *@
@await Html.PartialAsync("partials/_EditVersionOffcanvasPartial")
