@page
@model BW_WEB.Pages.Vehicle.Vehicle_TypesModel
@using BW_WEB.Pages.Vehicle.Models

@{
    ViewData["Title"] = "VehicleType";
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/vehicleType.dist.js"></script>
}

<div class="offcanvas-header border-bottom">
    <!-- Enlace de flecha hacia atrás que navega dentro del mismo contexto -->
    <a href="/Vehicle/Vehicle" class="btn btn-link" aria-label="Volver">
        <i class="fas fa-arrow-left"></i> <!-- Asegúrate de tener Bootstrap Icons -->
       </a>
    <h5 class="offcanvas-title" id="editVehicleOffcanvasLabel">Vehículos</h5>
</div>
@* Vehicles DataTable *@
@if (Model.Vehicles_type != null && Model.Vehicles_type.Count > 0)
{
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Tipo de Vehículos</h5>
            
        </div>
      
        <div class="card-datatable table-responsive border-top">
            <table id="vehicleTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>Tipo vehículo ID</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicleType in Model.Vehicles_type)
                    {
                        <tr>
                            <td></td>
                            <td class="vehicleType-id-@vehicleType.vehicle_type_id">@vehicleType.vehicle_type_id</td>
                            <td class="vehicleType-name-@vehicleType.vehicle_type_id">@vehicleType.name</td>
                            
                            <td class="text-nowrap">
                                @* Edit Button *@
                                <button class="btn btn-sm btn-icon btn-node-x edit-vehicle-button shadow-none" data-bs-toggle="offcanvas"
                                        data-bs-target="#editVehicleTypeOffcanvas" data-vehicle-id="@vehicleType.vehicle_type_id" id="@vehicleType.vehicle_type_id-editVehicle">
                                    <i class="ti ti-edit"></i>
                                </button>
                                @* Delete Button *@
                                <form method="post" asp-page-handler="Delete" asp-route-id="@vehicleType.vehicle_type_id" id="@vehicleType.vehicle_type_id-deleteForm"
                                      onsubmit="showSuccessAlert('Deleted');" class="d-inline">
                                    <button class="btn btn-sm btn-icon btn-node-x shadow-none" id="@vehicleType.vehicle_type_id-deleteVehicle"
                                            onclick="showDeleteConfirmation('@vehicleType.vehicle_type_id')">
                                        <i class="ti ti-trash"></i>
                                    </button>
                                </form>
                                @* Dropdown Button *@
                                <button class="btn btn-sm btn-icon btn-node-x dropdown-toggle hide-arrow shadow-none"
                                        data-bs-toggle="dropdown">
                                    <i class="ti ti-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end m-0">
                                    <a href="/Vehicles/View/@vehicleType.vehicle_type_id" class="dropdown-item">View</a>
                                    <a href="javascript:void();" class="dropdown-item">Suspend</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Tipo de Vehículos</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="vehicleTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>Tipo vehículo ID</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}


@* Create Vehicle Form Offcanvas Partial *@
@await Html.PartialAsync("partials/_CreateVehicleTypePartial")

@* Edit Vehicle Form Offcanvas Partial *@
@await Html.PartialAsync("partials/_EditVehicleTypePartial")
