@page
@model BW_WEB.Pages.Administration.Companies.CompanyCRUDModel
@{
}

@{
    ViewData["Title"] = "Empresas";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@* // Sección de scripts que incluye las bibliotecas JS necesarias para los DataTables, validaciones y otros componentes de la UI *@
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/company-crud-operations.dist.js"></script>
}

<h2 class="mb-4">Empresas</h2>

@if (Model.Companies != null && Model.Companies.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="companyTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th> <!-- Columna vacía -->
                        <th>Nombre</th>
                        <th>Nombre Largo</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Subsistema</th>
                        <th>Agencia</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model.Companies)
                    {
                        <tr>
                            <td></td> <!-- Columna vacía por cuestiones de diseño (o control de filas en dispositivos móviles) -->
                            <td class="text-capitalize text-heading">@company.Nombre</td>
                            <td class="text-capitalize text-heading">@company.NombreLargo</td>
                            <td class="text-capitalize text-heading">@company.Direccion</td>
                            <td class="text-capitalize text-heading">@company.Telefono</td>
                            <td class="text-capitalize text-heading">@company.Email</td>
                            <td>
                                <label class="badge bg-info text-wrap fs-8" id="lblRol">@company.SubsistemaTransporte.Nombre</label> <!-- Muestra el Subsistema de la empresa -->
                            </td>
                            <td>
                                <label class="badge bg-info text-wrap fs-8" id="lblRol">@company.Agency.AgencyName</label> <!-- Muestra la agencia de la empresa -->
                            </td>
                            <td class="text-nowrap">
                                <button class="btn btn-sm btn-icon btn-node-x edit-company-button shadow-none" data-bs-toggle="offcanvas"
                                        data-bs-target="#editCompanyOffcanvas" id="@company.EmpresaID-editCompany">
                                    <i class="ti ti-edit"></i>
                                </button>
                                <form method="post" asp-page-handler="Delete" asp-route-id="@company.EmpresaID" id="@company.EmpresaID-deleteForm"
                                      onsubmit="showSuccessAlert('Deleted');" class="d-inline">
                                    <button class="btn btn-sm btn-icon btn-node-x shadow-none" id="@company.EmpresaID-deleteCompany"
                                            onclick="showDeleteConfirmation('@company.EmpresaID')">
                                        <i class="ti ti-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="companyTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th> <!-- Columna vacía -->
                        <th>Nombre</th>
                        <th>Nombre Largo</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Subsistema</th>
                        <th>Agencia</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}

@await Html.PartialAsync("partials/_CreateCompanyOffcanvasPartial.cshtml")
@await Html.PartialAsync("partials/_EditCompanyOffcanvasPartial.cshtml")

