@page
@model BW_WEB.Pages.Vehicle.VehicleModel
@using BW_WEB.Pages.Vehicle.Models

@{
    ViewData["Title"] = "Vehicle";
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/vehicle.dist.js"></script>
}

@* Vehicles DataTable *@
@if (Model.Vehicles != null && Model.Vehicles.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Vehículos</h5>
            
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="vehicleTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>Vehículo ID</th>
                        <th>Empresa</th>
                        <th>Tipo Vehiculo</th>
                        <th>Matrícula</th>
                        <th>etiqueta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model.Vehicles)
                    {
                        <tr>
                            <td></td>
                            <td class="text-nowrap">@vehicle.vehicle_id</td>
                            <td class="text-nowrap">@vehicle.Empresa.Nombre</td>
                            <td class="text-nowrap vehicle-label-@vehicle.vehicle_id">@vehicle.Vehicle_type_id</td>
                            <td class="text-nowrap vehicle-plate-@vehicle.vehicle_id">@vehicle.license_plate</td>
                            <td class="text-nowrap">@vehicle.label</td>
                            <td class="text-nowrap">
                                @* Edit Button *@
                                <button class="btn btn-sm btn-icon btn-node-x edit-vehicle-button shadow-none" data-bs-toggle="offcanvas"
                                        data-bs-target="#editVehicleOffcanvas" id="@vehicle.vehicle_id-editVehicle">
                                    <i class="ti ti-edit"></i>
                                </button>
                                @* Delete Button *@
                                <form method="post" asp-page-handler="Delete" asp-route-id="@vehicle.vehicle_id" id="@vehicle.vehicle_id-deleteForm"
                                      onsubmit="showSuccessAlert('Deleted');" class="d-inline">
                                    <button class="btn btn-sm btn-icon btn-node-x shadow-none" id="@vehicle.vehicle_id-deleteVehicle"
                                            onclick="showDeleteConfirmation('@vehicle.vehicle_id')">
                                        <i class="ti ti-trash"></i>
                                    </button>
                                </form>
                                
                                @* Dropdown Button *@
                                <button class="btn btn-sm btn-icon btn-node-x dropdown-toggle hide-arrow shadow-none"
                                        data-bs-toggle="dropdown">
                                    <i class="ti ti-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end m-0">
                                    <a href="/Vehicles/View/@vehicle.vehicle_id" class="dropdown-item">View</a>
                                    <a href="javascript:void();" class="dropdown-item">Suspend</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Vehículos</h5>
                        
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="vehicleTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>Vehículo ID</th>
                        <th>Empresa</th>
                        <th>Tipo Vehiculo</th>
                        <th>Matrícula</th>
                        <th>etiqueta</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}


@* Create Vehicle Form Offcanvas Partial *@
@await Html.PartialAsync("partials/_CreateVehiclePartial")

@* Edit Vehicle Form Offcanvas Partial *@
@await Html.PartialAsync("partials/_EditVehiclePartial")
