@page
@model BW_WEB.Pages.GTFS.StopTimes.StopTimeCRUDModel
@{
    ViewData["Title"] = "StopTimes";
    var token = Model.HttpContext.Session.GetString("JWToken");
}

<h2 class="mb-4">Tiempos de Parada</h2>

<!-- Sección para importar los estilos CSS necesarios -->
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

<!-- Sección de scripts JS -->
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

<!-- Script específico de la página -->
@section PageScripts {
    <script src="~/js/GTFS-stop-time.js"></script>
}

<div class="col-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Seleccionar Versión:</h5>
        </div>
        <div class="col d-flex justify-content-center mt-2 mb-2">
            <form method="post">
                <select id="versionSelect" class="select2 form-select" style="width:85%" asp-for="SelectedVersionID" asp-items="Model.Versions" onchange="this.form.submit()">
                    <option value="">Seleccione una versión</option>
                </select>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.StopTimesByVersion != null && Model.StopTimesByVersion.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="stopTimeTable" class="table">
                <thead class="border-top">
                    <tr>
                        <td></td>
                        <th>Código Trip</th>
                        <th>Hora Llegada</th>
                        <th>Hora Salida</th>
                        <th>Código Parada</th>
                        <th>Secuencia de parada</th>
                        <th>Destino</th>
                        <th>Método de Recogida</th>
                        <th>Método de Entrega</th>
                        <th>Tipo de Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stopTime in Model.StopTimesByVersion)
                    {
                        <tr>
                            <td></td>
                            <td>@stopTime.TripID</td>
                            <td>@stopTime.ArrivalTime</td>
                            <td>@stopTime.DepartureTime</td>
                            <td>@stopTime.StopID</td>
                            <td>@stopTime.StopSequence</td>
                            <td>@stopTime.StopHeadsign</td>
                            <td>@stopTime.MetodoRecogidaDescripcion</td>
                            <td>@stopTime.MetodoEntregaDescripcion</td>
                            <td>@stopTime.TipoTiempoDescripcion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="stopTimeTable" class="table">
                <thead class="border-top">
                    <tr>
                        <td></td>
                        <th>Código Trip</th>
                        <th>Hora Llegada</th>
                        <th>Hora Salida</th>
                        <th>Código Parada</th>
                        <th>Secuencia de parada</th>
                        <th>Destino</th>
                        <th>Método de Recogida</th>
                        <th>Método de Entrega</th>
                        <th>Tipo de Tiempo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}
